@model PersonelMVC.ViewModels.MessageViewModel

   @if (Model.Status == true)
   {
    <div class="alert alert-success">
        @Model.Message <a href="@Model.Url">@Model.LinkText</a>
    </div>
   }
   else
   {
    <div class="alert alert-danger">
        @Model.Message <a href="@Model.Url">@Model.LinkText</a>
    </div>
   }
    

